@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box;}
html, body{height: 100%;}
ul, ol{list-style: none;}
a{color: #666;}
/*공통*/
body{
    margin: 0 auto;
    width: 100%;
    font-family: "Montserrat", "Noto Sans Kr", "맑은 고딕", "Malgun Gothic", sans-serif
}
/*버튼*/
.button{
    font-size: 16px;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    margin: 10px;
    border-radius: 50px;
    background: #18d26e;
    transition: 0.5s;
    text-decoration: none;
}
.button:hover{
    background: white;
    color: #000;
}
/*버튼*/
/*탑버튼*/
.back-to-top{
    position: fixed;
    width: 30px;
    height: 30px;
    right: 10px;
    bottom: 10px;
    background: #000;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    transition: 1s;
    opacity: 0;
    z-index: 800;
}
.back-to-top a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}
/*탑버튼*/
/*공통*/
/*해더*/
#header{
    overflow: hidden;
    width: 100%;
    top: 0;
    z-index: 800;
    background: #fff;
    display: inline-block;
}
#header .gnb .homepage{
    background: #282c3c;
    height: 50px;
    overflow: hidden;
}
#header .gnb .homepage .left-home{
    float: left;
    padding-left: 300px;
    position: relative;
    width: 65%;
}
#header .gnb .homepage .left-home .text{
    height: 50px;
    overflow: hidden;
}
#header .gnb .homepage .left-home .text li{
    display: flex;
    align-items: center;
    height: 50px;
    float: left;
    align-items: center;
}
#header .gnb .homepage .left-home .text .first{
    text-decoration: none;
    padding: 10px 35px;
    background: #fff;
    color: #333;
    font-weight: bold;
    font-size: 15px;
    height: 50px;
}
#header .gnb .homepage .left-home .text .second{
    text-decoration: none;
    padding: 10px 35px;
    background: #ffb93f;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    height: 50px;
}
#header .gnb .homepage .left-home .img{
    position: absolute;
    height: 50px;
    top: 0;
    left: 650px;
    width: 400px;
}
#header .gnb .homepage .left-home .img li{
    display: inline-block;
    height: 50px;
    padding-left: 10px;
    padding-top: 10px;
}
/**/
#header .gnb .homepage .right-home{
    float: right;
    width: 35%;
    height: 50px;
}
#header .gnb .homepage .right-home li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
}
#header .gnb .homepage .right-home li::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    left: 0;
    top: 30%;
    background: #666;
}
#header .gnb .homepage .right-home li:first-child::after{
    display: none;
}
#header .gnb .homepage .right-home li a{
    text-decoration: none;
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}
/*로고 및 상단메뉴*/
#header .gnb .gnb-wrap #top-logo{
    float: left;
    padding-top: 20px;
    width: 250px;
}
#header .gnb .gnb-wrap #top-logo a{
    height: 130px;
    width: 100%;
}
.gnb .gnb-wrap .gnb-inner{
    padding-left: 50px;
    height: 80px;
    overflow: hidden;
}
.gnb .gnb-wrap .gnb-inner .topgnb{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 100px);
    height: 100px;
}
.gnb .gnb-wrap .gnb-inner .topgnb .topgnbli{
    margin-right: 100px;
    z-index: 100;
}
.gnb .gnb-wrap .gnb-inner .topgnb .topgnbli:hover .submenu{
    display: block;
    width: 300px;
    transition: .5s;
}
.gnb .gnb-wrap .gnb-inner .topgnb .topgnbli > a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
/* 하단메뉴*/
.gnb .gnb-wrap .gnb-inner .topgnb .topgnbli .submenu{
    width: 100%;
    height: auto;
    opacity: 0;
    position: absolute;
    padding-top: 30px;
    border-top: 1px solid #666;
    background: #fff;
    border: 1px solid #dfdfdf;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    transition: 1s;
    display: none;
}
.gnb .gnb-wrap .gnb-inner .topgnb .topgnbli .submenu .sub-inner{
    margin-top: 5px;
    float: left;
    display: block;
}
.gnb .gnb-wrap .gnb-inner .topgnb .topgnbli .submenu .sub-inner a{
    width: 300px;
    text-decoration: none;
    color: #000;
}
/*하단메뉴 끝*/
.gnb .gnb-wrap .gnb-inner .hamburger{
    float: right;
    width: 80px;
    height: 110px;
    background: red;
}
.gnb .gnb-wrap .gnb-inner .hamburger .hamham{
    position: relative;
}
.gnb .gnb-wrap .gnb-inner .hamburger .hamham span:nth-child(1){
    width: 30px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 30px;
    left: 25px;
}
.gnb .gnb-wrap .gnb-inner .hamburger .hamham span:nth-child(2){
    width: 30px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 40px;
    left: 25px;
}
.gnb .gnb-wrap .gnb-inner .hamburger .hamham span:nth-child(3){
    width: 30px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 50px;
    left: 25px;
}
/*해더 끝*/
#mainbanner{
    width: 100%;
    height: 750px;
    position: relative;
}
#mainbanner .mainbannerh1{
    position: absolute;
    top: 100px;
    left: 150px;
    color: #fff;
    font-size: 50px;
    z-index: 10;
}
#mainbanner .mainimg img{
    width: 100%;
    height: 750px;
}
#mainbanner .mainimg .mainbox{
    position: absolute;
    display: inline-flex;
    justify-content: center;
    width: 420px;
    height: 250px;
    background: rgba(0, 237, 206, 0.7);
    top: 550px;
    left: 200px;
    z-index: 10;
}
#mainbanner .mainimg .mainbox .inner-mainbox{
    color: #fff;
    position: relative;
}
#mainbanner .mainimg .mainbox .inner-mainbox h3{
    padding: 20px 0 30px 0;
    text-align: center;
}
#mainbanner .mainimg .mainbox .inner-mainbox h2{
    text-align: center;
    font-size: 26px;
    padding-bottom: 10px;
}
#mainbanner .mainimg .firstSwiper::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 10%;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #fff;
}
#mainbanner .mainimg .mainbox .inner-mainbox .swiper-pagination{
    position: absolute;
    top: 160px;
    padding-top: 10px;
}
#mainbanner .mainimg .mainbox .inner-mainbox .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 1px solid #fff;
    transition: .3s;
    background: #fff;
    
}
#mainbanner .mainimg .mainbox .inner-mainbox .swiper-pagination-bullet-active{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 1px solid #fff;
    transition: .3s;
    background: #fff;
    position: relative;
}
#mainbanner .mainimg .mainbox .inner-mainbox .swiper-pagination-bullet-active::after{
    content: '';
    position: absolute;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    border: 1px solid #fff;
    top: -6px;
    left: -6px;
}
#mainbanner .mainimg .mainbox .inner-mainbox .swiperbutton{
    position: relative;
}
#mainbanner .mainimg .mainbox .inner-mainbox .swiperbutton a{
    background-image: url(../img/pause.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    left: 20px;
}
/*category*/
#category{
    overflow: hidden;
    width: 1580px;
    height: 400px;
    margin: 0 auto;
}
.category-inner{
    padding-top: 105px;
    padding-bottom: 150px;
}
#category .category-left{
    float: left;
    width: 250px;
}
#category .category-left li{
    text-align: center;
    width: 270px;
    height: 50px;
    margin-top: 5px;
    position: relative;
}
#category .category-left li:first-child:before{
    content: '';
    width: 270px;
    height: 1px;
    background: #dfdfdf;
    position: absolute;
    left: 0;
    bottom: 60px;
}
#category .category-left li::after{
    content: '';
    width: 270px;
    height: 1px;
    background: #dfdfdf;
    position: absolute;
    left: 0;
}
#category .category-left li:hover{
    border-radius: 15px;
    transition: .5s;
    background: #007ea0;
    border-top: none;
    border-bottom: none;
    height: 50px;
}
#category .category-left li:hover::before{
    display: none;
}
#category .category-left li:hover:after{
    display: none;
}
#category .category-left li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #000;
    padding: 7px;
}
#category .category-right{
    width: calc(100% - 320px);
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: right;
    overflow: hidden;
}
#category .category-right li{
    display: inline-block;
    height: 300px;
    padding: 30px;
}
#category .category-right li a{
    text-decoration: none;
    width: 200px;
    overflow: hidden;
    display: grid;
}
#category .category-right li a h2{
    font-size: 18px;
    width: 200px;
    padding-bottom: 15px;
}
#category .category-right li a h3{
    font-size: 12px;
    padding-bottom: 25px;
    border-bottom: 3px solid #18d26e;
}
#category .category-right li a span{
    padding-top: 25px;
    height: 50px;
}
/*category end*/
/*midbanner*/
#midbanner {
    width: 1580px;
    margin: 0 auto;
    height: 500px;
    background: #dfdfdf;
}
#midbanner  .midul{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 65px;
}
#midbanner  .midul li{
    display: inline-block;
    width: 265px;
    padding: 70px 0;
}
#midbanner  .midul li:nth-child(odd){
    background: #f8f8f8;
}
#midbanner  .midul li:nth-child(even){
    background: #fff;
}
#midbanner  .midul a{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}
#midbanner  .midul li a img{
    width: 70px;
}
#midbanner  .midul li:hover img{
    transform: rotateY(720deg);
    transition: 1.5s;
}
#midbanner  .midul a span{
    position: absolute;
    top: 60px;
}
/*midbanner end*/
/*swiper*/
.swiper .swiper-wrapper .swiper-slide{
    display: inline-block;
    text-align: center;
    z-index: 0;
}
/*swiper*/
/*pride*/
#pride{
    background: #0f91bc;
}
#pride .pridetop{
    height: 250px;
    overflow: hidden;
}
#pride .pridetop a{
    display: inline-flex;
    float: right;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    width: 150px;
    height: 65px;
    border: 1px solid #f1f1f1;
    margin: 40px;
    font-size: 20px;
}
#pride .pridetop h2{
    text-align: center;
    padding-top: 130px;
    font-size: 40px;
    color: #fff;
    position: relative;
    z-index: 10;
}
#pride .pridetop h2::after{
    content: '';
    width: 50px;
    height: 50px;
    background: #ffb93f;
    border-radius: 100%;
    position: absolute;
    top: 80%;
    left: 54%;
    z-index: -1;
}
#pride .prideul{
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}
#pride .prideul li{
    display: inline-block;
    width: 23%;
    height: 450px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
#pride .prideul li:nth-child(4), #pride .prideul li:nth-child(8), #pride .prideul li:last-child{
    border-right: none;
}
#pride .prideul li:nth-child(9),#pride .prideul li:nth-child(10), #pride .prideul li:nth-child(11),#pride .prideul li:last-child{
    border-bottom: none;
}
#pride .prideul li:hover img{
    box-shadow: 1px #fff;
}
#pride .prideul li a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: grid;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}
#pride .prideul li a p{
    font-size: 20px;
    font-weight: bold;
    padding: 3vw 0;
}
#pride .prideul li a .img img{
    width: 140px;
    height: 140px;
}
#pride .prideul li a span{
    font-style: 17px;
    padding-top: 3vw;
}

/*pride end*/
/*news*/
#news{
    overflow: hidden;
    position: relative;
}
#news .newsh2{
    text-align: center;
    padding: 50px 0;
}
#news .newsh2::after{
    content: '';
    width: 50px;
    height: 50px;
    background: #0aceb7;
    border-radius: 100%;
    position: absolute;
    top: 10%;
    left: 43%;
    z-index: -1;
}
#news-wrap {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 350px;
    background: url("../images/background.gif");
}
  
#news-prev, #news-next {
    position: absolute;
    cursor: pointer;
    bottom: 30%;
}

#news-prev{
    left: 150px;
}
  
#news-next{
    right: 100px ;
}
  
#news-carousel {
    width: 1250px;
    height: 500px;
    overflow: hidden;
}
#news-inner ul.news-column {
    width: 620px;
    height: 500px;
    padding: 15px 0 15px;
    float: left;
}
  
#news-inner ul.news-column li {
    margin-right: 10px;
    display: inline-block;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
}
#news-inner ul.news-column li a{
    text-decoration: none;
}
#news-inner ul.news-column li img{
    width: 300px;
    height: 230px;
}
#news-inner ul.news-column li .text{
    overflow: hidden;
    box-sizing: border-box;
    width: 280px;
    height: 80px;
    line-height: 40px;
    margin: 5px;
    text-align: center;
}
#news-inner ul.news-column li .text p{
    width: 280px;
    height: 30px;
    flex-wrap: nowrap;
    overflow: hidden;
    font-size: 18px;
}
#news-inner ul.news-column li .text .newspan{
    border-radius: 20px;
    background: #ffb93f;
    color: #fff;
    font-size: 13px;
    padding: 7px;
    margin-right: 10px;
}
/*news end*/
/*photo*/
#photo{
    background: #f8f8f8;
}
#photo .story{
    width: 1580px;
    margin: 0 auto;
}
#photo .story .topphoto{
    height: 100px;
    overflow: hidden;
    padding: 30px;
}
#photo .story .topphoto .text{
    float: left;
}
#photo .story .topphoto .text h3{
    font-size: 20px;
}
#photo .story .topphoto .text h2{
    font-size: 32px;
}
#photo .story .topphoto .button-right{
    float: right;
}
#photo .story .topphoto .button-right button{
    /* background: #ffb93f; */
    font-weight: bold;
    color: #000;
    width: 120px;
    font-size: 16px;
    height: 50px;
    background: #fff;
    border: 2px solid #f1f1f1;
}
#photo .story .topphoto .button-right button:hover{
    border-color: #ffb93f;
    background: #fff;
}
#photo .story .bottom{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#photo .story .bottom .bottomli{
    display: inline-block;
    padding-top: 30px;
}
#photo .story .bottom .bottomli a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
#photo .story .bottom .bottomli a img{
    width: 330px;
    height: 200px;
}
#photo .story .bottom .bottomli a p{
    padding: 15px 0 30px 0; 
}
/*photo end*/
/*media*/
#media{
    height: 650px;
    padding-top: 20px;
    position: relative;
    z-index: 100;
}
#media::after{
    content: '';
    width: 280px;
    height: 650px;
    background: #ffb93f;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#media .media-wrap{
    margin: 30px;
    height: 550px;
    background: #fff;
}
#media .media-inner{
    padding: 20px;
    z-index: 100;
    position: relative;
}
#media .media-head{
    height: 70px;
    overflow: hidden;
}
#media .media-head .head-text{
    float: left;
}

#media .media-head .head-arrow{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    position: relative;
}
#media .media-head .head-arrow::after{
    position: absolute;
    content: '';
    height: 18px;
    width: 2px;
    background: #999;
    top: 31%;
    left: -102px;
}
#media .media-head .head-arrow img{
    padding-right: 5px;
}
#media .media-img{
    height: 240px;
}
#carousel-wrap {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 350px;
    background: url("../images/background.gif");
}
  
#carousel-prev, #carousel-next {
    position: absolute;
    cursor: pointer;
}

#carousel-prev{
    left: -150px;
}
  
#carousel-next{
    left: -100px;
}
  
#carousel {
    width: 1250px;
    height: 500px;
    overflow: hidden;
}
#carousel-inner ul.column {
    width: 620px;
    height: 500px;
    padding: 15px 0 15px;
    float: left;
}
  
#carousel-inner ul.column li {
    margin-right: 10px;
    display: inline-block;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
}
#carousel-inner ul.column li a{
    text-decoration: none;
}
#carousel-inner ul.column li img{
    width: 300px;
    height: 230px;
}
#carousel-inner ul.column li .text{
    overflow: hidden;
    box-sizing: border-box;
    width: 280px;
    height: 60px;
    line-height: 40px;
    margin: 5px;
    text-align: center;
}
#carousel-inner ul.column li .text p{
    width: 280px;
    height: 30px;
    flex-wrap: nowrap;
    overflow: hidden;
    font-size: 18px;
}
#carousel-inner ul.column li .text span{
    color: #18d26e;
    font-size: 13px;
}


#media .media-icon{
    padding-top: 130px;
}
#media .media-icon ul{
   width: 100%;
}
#media .media-icon ul li{
    display: inline-flex;
    justify-content: space-around;
    width: 18%;
}
#media .media-icon ul li a{
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#media .media-icon ul li a div{
    width: 50px;
    height: 50px;
    background: #d9d9d9;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#media .media-icon ul li a div img{
    width: 30px;
    height: 30px;
}
#media .media-icon ul li a span{
    padding-left: 10px;
    font-size: 20px;
}
/*media end*/
/*firstmover*/
#last-item{
    height: 600px;
    background: #f9f9f9;
    display: flex;
    align-items: center;
}
#last-item .mySwiper{
    margin: 0 auto;
    position: relative;
}
#last-item .mySwiper .lefttext{
    position: absolute;
    width: 300px;
    height: 100px;
    top: 50px;
    left: 100px;
    font-size: 40px;
}
#last-item .mySwiper .lefttext .lasth2{
    font-weight: bold;
    padding-left: 50px;
}
#last-item .mySwiper .lefttext .swiper-pagination{
    top: 110px;
    height: 50px;
    padding-top: 30px;
}
#last-item .mySwiper .lefttext .swiper-pagination-bullet{
    background: #c3c3c3;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
#last-item .mySwiper .lefttext .swiper-pagination-bullet-active{
    border: 1px solid #333;
    background: #0aceb7;
    width: 20px;
    height: 20px;
    position: relative;
}
#last-item .mySwiper .lefttext .swiper-pagination-bullet-active::after{
    content: '';
    position: absolute;
    border: 1px solid #0aceb7;
    border-radius: 100%;
    width: 28px;
    height: 28px;
    top: -6px;
    left: -6px;
}
#last-item .mySwiper .swiper-wrapper{
    width: 100%;
}
#last-item .mySwiper .swiper-wrapper .swiper-slide{
    height: 500px;
    display: flex;
    align-items: center;
}
#last-item .mySwiper .swiper-wrapper .swiper-slide a{
    text-decoration: none;
    overflow: hidden;
    width: 100%;
}
#last-item .mySwiper .swiper-wrapper .swiper-slide .swiper-text{
    float: left;
    width: 50%;
    height: 100%;
    padding: 200px 0 0 100px;
    color: #000;
}
#last-item .mySwiper .swiper-wrapper .swiper-slide .swiper-text p{
    width: 400px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 170px;
}
#last-item .mySwiper .swiper-wrapper .swiper-slide .swiper-text span{
    width: 400px;
    height: 50px;
    overflow: hidden;
    display: flex;
    margin-left: 170px;
}
#last-item .mySwiper .swiper-wrapper .swiper-slide .swiper-img{
    width: 50%;
    float: right;
    position: relative;
}
#last-item .mySwiper .swiper-wrapper .swiper-slide::after{
    content: '';
    position: absolute;
    width: 600px;
    height: 350px;
    top: 130px;
    right: 50px;
    background: #0f91bc;
    z-index: -10;
}
/*firstmover */
/*footer*/
#footer{
    overflow: hidden;
}
#footer .footertop{
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
}
#footer .footertop .left-footer{
    display: flex;
    align-items: center;
    width: 75%;
    height: 60px;
}
#footer .footertop .left-footer li{
    display: inline-block;
    position: relative;
    padding-left: 30px;
}
#footer .footertop .left-footer li::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    left: 15px;
    top: 30%;
    background: #666;
}
#footer .footertop .left-footer li:first-child::after{
    display: none;
}
#footer .footertop .left-footer li:nth-child(2) a{
    color: #4b63c3;
}
#footer .footertop .left-footer li:hover{
    text-decoration: underline;
}
#footer .footertop li a{
    text-decoration: none;
}
#footer .footertop .right-footer{
    float: right;
    width: 23%;
}
#footer .footertop .right-footer .familysite{
    width: 180px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
}
#footer .footertop .right-footer a{
    display: inline-block;
    border: 1px solid #d4d4d4;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}
#footer .footer-inner{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 150px;
    padding-top: 30px;
}
#footer .footer-text{
    color: #666;
}
#footer .footer-text p:nth-child(4){
    padding-top: 20px;
}
#footer .footer-inner .footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
#footer .footer-inner .footer-logo img{
    padding-right: 20px;
}
/*media쿼리*/

